<?xml version="1.0" encoding="UTF-8"?>
<!--
配置说明：
    1、使用servlet3特性，version属性的值必须大于3.0
    2、metadata-complete设置为false，或者不设置　　
        该属性为true，则容器在部署时只依赖xml描述的配置，忽略所有注解。
        如果不配置该属性，或者将其设置为false，则表示启动注解支持。web.xml和注解对于Servlet的影响同时起作用
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" metadata-complete="false">

</web-app>